@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-gold: #C9A44D;
  --color-deep-green: #12382A;
  --color-warm-white: #F8F3E7;
  
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
  color: white;
  overflow-x: hidden;
}
